<h1>Welcome to My Works Page</h1>
<p>This is the content of the work page, accessible at '/work'.</p>
<p style="display: inline;">Other Pages:</p>
<div style="display: inline;">
   <a href="/home">Home Page</a>
   <a href="/about">About</a>
   <a href="/contact">Contact</a>
</div>
